<!DOCTYPE html>
<html lang="de">
    <head>
        {% metagen 
            title=title,
            desc=meta_desc,
            comments=true
        %}
        {% set css %}
            {% include "css/style.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    </head>
    <body>
        {% include "partials/header.njk" %}

        {{ content | safe }}

        {% include "partials/footer.njk" %}
    </body>
</html>