---
layout: main.njk
title: 404 - Seite nicht gefunden
meta_desc: Es tut mir leid, aber die von Ihnen gesuchte Seite existiert nicht.
locale: de_DE
permalink: 404.html
---

<article>
    <h1>404: Seite nicht gefunden</h1>
    <p>Es tut mir leid, aber die von Ihnen gesuchte Seite existiert nicht. Möglicherweise wurde sie entfernt, der Name wurde geändert oder sie ist vorübergehend nicht verfügbar.</p>
    <p>Wenn Sie weiterhin Probleme haben, kontaktieren Sie mich bitte direkt. Ich helfe Ihnen gerne weiter.</p>
</article>