---
layout: main.njk
title: Christoph Gahmann | Fotograf in Frankfurt am Main - Porträt-, Hochzeits-, Familien- &amp; Newborn-Fotografie
meta_desc: Fotograf in Frankfurt am Main spezialisiert auf Porträt-, Hochzeits-, Familien- und Newborn-Fotografie. Natürliche und authentische Momente einfangen. Jetzt Kontakt aufnehmen für individuelle Fotoprojekte.
eleventyNavigation:
  key: Privat
  order: 1
permalink: "/privat/"
---

<article class="content">
  <div class="image-wrapper">
    {% img
      src="/ich-2021.jpg",
      alt="Portrait von Christoph",
      sizes="(min-width: 600px) 50vw, (min-width: 800px) 100vw, 33.3vw"
    %}
  </div>
  <h1>Hi, ich bin Christoph.</h1>
  <p>Als Fotograf aus Frankfurt am Main habe ich mich auf Porträt-, Hochzeits-, Familien- und Reisefotografie spezialisiert. Mein Augenmerk liegt darauf, natürliche und authentische Momente einzufangen. Ich möchte Augenblicke so festhalten, wie sie sind – ohne inszenierte oder künstliche Wirkung. Besonders liebe ich die analoge Welt der Fotografie, die es mir ermöglicht, die Schönheit echter Augenblicke noch intensiver zu erleben.</p>
  <p>Ich lebe mit meiner Familie in Frankfurt Sachsenhausen, einem Viertel mit urigen Kneipen, vielfältiger Architektur und dem angrenzenden Stadtwald, der durch seine unberührte Natur besticht. Diese Natur inspiriert und erdet mich.</p>
  <p>Darüber hinaus liebe ich das Meer, stürmisches Wetter, gutes Kino und amerikanisches Mid-century Design.</p>
</article>