---
layout: main.njk
title: Fotograf in Frankfurt am Main | Porträt-, Hochzeits-, Familien- & Newborn-Fotografie
meta_desc: Fotograf in Frankfurt am Main spezialisiert auf Porträt-, Hochzeits-, Familien- und Newborn-Fotografie. Natürliche und authentische Momente einfangen. Jetzt Kontakt aufnehmen für individuelle Fotoprojekte.
---

<article>
  <h1 class="sr-only">Fotograf Christoph aus Frankfurt am Main</h1>
  <p>Gude und herzlich willkommen! Ich bin Christoph, ein leidenschaftlicher Amateurfotograf aus Frankfurt am Main. Neben meiner Haupttätigkeit als Software-Entwickler habe ich mich auf Porträt-, Hochzeits-, Familien- und Newborn-Fotografie spezialisiert.</p>
  <p>Hast du Fragen oder möchtest du ein individuelles Fotoprojekt besprechen? Besuche gerne die <a href="/kontakt">Kontaktseite</a>, um mir eine Nachricht zu senden. Ich freue mich darauf, von dir zu hören!</p>
</article>

{% include "partials/home-gallery.njk" %}