<footer class="footer grid">
    <nav class="nav">
        <ul class="nav__list">
            <li class="footer-link"><a href="/kontakt/">Impressum</a></li>
            <li class="footer-link"><a href="/datenschutz/">Datenschutz</a></li>
        </ul>
    </nav>
</footer>