<section class="gallery">
    <h2 class="sr-only">Galerie von Hochzeitsfotos, Portraits und Landschaftsfotos in Frankfurt am Main</h2>
    
    {% for image in gallery %}
    <div class="image-wrapper">
      {% img
        src=image.src,
        alt=image.alt,
        sizes="(min-width: 600px) 50vw, (min-width: 800px) 100vw, 33.3vw"
      %}
    </div>
    {% endfor %}
</section>